<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>

    <script src = 'app.js'charset="UTF-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-app = 'firstReddit'>
            <div ng-controller = 'reddit'>

                <!-- nav bar -->
                <div class = 'navBar'>
                    <span id = 'redditHeader'class = 'style-inline' >Reddit</span>

                    <input ng-click="newPostClicked()" class = 'style-inline button' type='button' value = 'New Post' >
                    <input type="text" class = 'style-inline' placeholder = 'Search...'>
                    <span class = 'style-inline' >Sort By:</span>

                    <select  name="dropdown" ng-model ='dropMenu' >
                        <option value="" selected hidden />
                        <option value="-date" >Date</option>
                        <option value="-numberOfVotes">Votes</option>
                        <option value="title">Title</option>
                    </select>
                </div>
                <!-- end of nav bar -->
        <div ng-show= "myValue">
            <form name="userForm">

            <label for="author">Author's Name:</label>
            <input id = 'author' type="text" ng-model = 'postInputFields.author'  required ng-minlength=3 ng-maxlength=20>
            <label for="title">Title:</label>
            <input id = 'title' type="text" ng-model = 'postInputFields.title'  required>
            <label for="image">Image Address:</label>
            <input id = 'image' type="text" ng-model = 'postInputFields.image' required>
            <label for="description">Post Description:</label>
            <input id = 'description' type="text" ng-model = 'postInputFields.description' required>

            <button ng-click = 'addPost(postInputFields.title, postInputFields.author, postInputFields.image, postInputFields.description)'> Submit Post </button>
            </form>

             <p ng-show="userForm.author.$error.minlength">Username is too short.</p>




        </div>
        <div ng-show = 'userForm.postInputFields.author.$invalid'>
           asdkjlasjdlkasjdlkajsld
       </div>


                    <ul>

                        <!-- for each post -->
                            <li  ng-repeat='post in postList.posts | orderBy: dropMenu'>
                                <div class = 'postDiv'>
                                <p class = 'titleInline'><strong>{{ post.title }}</strong></p>
                                <span>By: {{ post.author }}</span>
                                <span ng-click="upClicked(post)" id = 'upArrow'>&#65514;</span>




                                <!-- <span>votes:{{ post.numberOfVotes }}</span> -->



                                <span ng-if='post.numberOfVotes<0'>
                                    <span class = 'red'>votes:{{ post.numberOfVotes }}</span>
                                </span>
                                <span ng-if='post.numberOfVotes==0'>
                                    <span class = 'gray'>votes:{{ post.numberOfVotes }}</span>
                                </span>
                                <span ng-if='post.numberOfVotes>0'>
                                    <span class = 'green'>votes:{{ post.numberOfVotes }}</span>
                                </span>


                                <span ng-click="downClicked(post)" id = 'downArrow'>&#65516;</span>



                                <br>
                                <img src="{{ post.image }}" alt="cute kitten" style="width:170px;height:130px;"/>

                                <span> {{ post.description }}</span>

                                <p >
                                    <span >{{ post.date | date: 'short' }}</span>
                                    <span class = 'commentBarMargin'><strong>(View) Comments</strong></span>
                                    <span class = 'commentBarMargin'><strong>Add Comment</strong></span>
                                </p>
                                </div>
                            </li>
                        <!-- end of each post -->


                    </ul>
            </div>
</body>
</html>
