<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>

    <script src='app.js' charset="UTF-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body ng-app='firstReddit'>
    <div ng-controller='reddit'>

        <!-- nav bar -->
        <div class='well well-lg navbar'>
            <div class='col-xs-3'>
                <span id='redditHeader'>Reddit</span>
            </div>
            <div class='col-xs-3'>
                <input ng-click="newPostClicked()" class='btn btn-default' type='button' value='New Post'>
            </div>
            <div class='col-xs-3'>
                <input class='searchBar' ng-model='searchBar' type="text" placeholder='Search...'>
            </div>
            <div class='col-xs-3'>
                <span>Sort By:</span>

                <select class="dropdown" name="dropdown" ng-model='dropMenu'>
                    <option value="" selected hidden />
                    <option value="-date">Date</option>
                    <option value="-numberOfVotes">Votes</option>
                    <option value="title">Title</option>
                </select>
            </div>

        </div>
<!-- end of nav bar -->

<!-- hidden new post dropdown div -->
        <div ng-show="myValue">
            <form name="userForm" novalidate ng-submit='userFormSubmit()'>

                <label for="author">Author's Name:</label>
                <input id='author' type="text" ng-model='postInputFields.author' name="author" required ng-minlength=3 ng-maxlength=20>


                <div class="error" ng-show="userForm.author.$dirty && userForm.author.$invalid">
                    <small class="error" ng-show="userForm.author.$error.required">Your name is required.</small>
                    <small class="error" ng-show="userForm.author.$error.minlength">Your name is required to be at least 3 characters</small>
                    <small class="error" ng-show="userForm.author.$error.maxlength">Your name cannot be longer than 20 characters</small>
                </div>
                <br>

                <label for="title">Post Title:</label>
                <input id='title' type="text" name="title" ng-model='postInputFields.title' required ng-minlength=8 ng-maxlength=50>

                <div class="error" ng-show="userForm.title.$dirty && userForm.title.$invalid">
                    <small class="error" ng-show="userForm.title.$error.required">Post title is required.</small>
                    <small class="error" ng-show="userForm.title.$error.minlength">Post title is required to be at least 8 characters</small>
                    <small class="error" ng-show="userForm.title.$error.maxlength">Post title cannot be longer than 50 characters</small>
                </div>

                <br>
                <label for="image">Image Address:</label>
                <input id='image' type="text" name="image" ng-model='postInputFields.image' required ng-minlength=8>

                <div class="error" ng-show="userForm.image.$dirty && userForm.image.$invalid">
                    <small class="error" ng-show="userForm.image.$error.required">Post image address is required.</small>
                    <small class="error" ng-show="userForm.image.$error.minlength">Post image address is required to be at least 5 characters</small>
                </div>


                <br>
                <label for="description">Post Description:</label>
                <input id='description' type="text" ng-model='postInputFields.description' required>

                <div class="error" ng-show="userForm.description.$dirty && userForm.description.$invalid">
                    <small class="error" ng-show="userForm.description.$error.required">Post description is required.</small>
                    <small class="error" ng-show="userForm.description.$error.minlength">Post description is required to be at least 8 characters</small>
                    <small class="error" ng-show="userForm.description.$error.maxlength">Post description cannot be longer than 200 characters</small>
                </div>

                <br>
                <button class='btn btn-default' ng-disabled="userForm.$invalid" type="submit" ng-click='addPost(postInputFields.title, postInputFields.author, postInputFields.image, postInputFields.description)'> Submit Post </button>

            </form>
        </div>
<!-- end of hidden new post dropdown div -->


        <!-- ng pluralize count = post.comments.length
when {'0': '0 comments',
        '1': '1 comment',
        ______
    } -->

<!-- all posts  -->
        <div class='col-xs-12 '>

            <ul>

<!-- for each post -->
                <li class='panel panel-default' ng-repeat='post in postList.posts | orderBy: dropMenu | filter : searchBar '>

                    <div>
                        <header class='panel panel-title col-xs-12'>
                            <strong>{{ post.title }}  | </strong>

                            <span ng-click="upClicked(post)" id='upArrow'>&#65514;</span>


                            <span ng-if='post.numberOfVotes<0'>
                                            <span class = 'red'>votes:{{ post.numberOfVotes }}</span>
                            </span>
                            <span ng-if='post.numberOfVotes==0'>
                                            <span class = 'gray'>votes:{{ post.numberOfVotes }}</span>
                            </span>
                            <span ng-if='post.numberOfVotes>0'>
                                            <span class = 'green'>votes:{{ post.numberOfVotes }}</span>
                            </span>


                            <span ng-click="downClicked(post)" id='downArrow'>&#65516;</span>

                            <small><strong><span class='author'>By: {{ post.author }}</span></strong></small>
                        </header>





                        <br>

                        <main class='row mainPost'>
                            <img class='col-xs-1' src="{{ post.image }}" alt="cute kitten" />

                            <span class='col-xs-11 postDesc'> {{ post.description }}</span>
                        </main>

                        <p class='commentRow'>
                            <span>{{ post.date | date: 'short' }}</span>
                            <button class='btn btn-default commentButtonPad' ng-click='viewCommentsClicked()'><strong>(View) Comments</strong></button>
                            <button ng-click='newCommentClicked()' class='btn btn-default commentButtonPad'><strong>Add Comment</strong></button>
                        </p>






                        <div ng-show="myValueComment">
                            <form name="commentForm" novalidate ng-submit='commentFormSubmit()'>

                                <label for="author">Author's Name:</label>
                                <input id='author' type="text" ng-model='post.commentInputFields.author' name="author" required ng-minlength=3 ng-maxlength=20>


                                <div class="error" ng-show="commentForm.author.$dirty && commentForm.author.$invalid">
                                    <small class="error" ng-show="commentForm.author.$error.required">Your name is required.</small>
                                    <small class="error" ng-show="commentForm.author.$error.minlength">Your name is required to be at least 3 characters</small>
                                    <small class="error" ng-show="commentForm.author.$error.maxlength">Your name cannot be longer than 20 characters</small>
                                </div>
                                <br>

                                <label for="title">Text:</label>
                                <input id='title' type="text" name="commentText" ng-model='post.commentInputFields.commentText' required ng-minlength=2 ng-maxlength=60>

                                <div class="error" ng-show="commentForm.commentText.$dirty && commentForm.commentText.$invalid">
                                    <small class="error" ng-show="commentForm.commentText.$error.required">Comment text is required.</small>
                                    <small class="error" ng-show="commentForm.commentText.$error.minlength">Comment text is required to be at least 2 characters</small>
                                    <small class="error" ng-show="commentForm.commentText.$error.maxlength">Comment text cannot be longer than 60 characters</small>
                                </div>
                                <br>

                                <button class='btn btn-default' ng-disabled="commentForm.$invalid" type="submit" ng-click='addComment(post.commentInputFields.title, post.commentInputFields.author)'> Submit Post </button>

                            </form>
                        </div>

    <!-- toggled view all comments div -->


                        <div ng-show="post.valueCommentViewAll">
                            <ul>
                                <!-- for each comment -->
                                <li class='allComments' ng-repeat='comment in post.comments | orderBy: "-date" '>
                                    <strong>{{comment.author}}</strong> - {{comment.text}}
                                </li>
                            </ul>
                        </div>
    <!-- end toggled view all comments div -->



                    </div>

                    </li>
<!-- end of each post -->


            </ul>
        </div>
<!-- end of all posts  -->

</body>

</html>
