body{
    font-family: Arial;
}
.searchBar{
    border: 2px solid gray;
}
input.ng-invalid {
  border: 2px solid red;
}
input.ng-valid {
  border: 2px solid green;
}
#redditHeader{
    font-size: 3vh;
    font-weight: bolder;
}
.navbar{
margin-bottom: 2vh;
}
img{
    width: 30%;
  height: 200px;
  margin-top: 1.5vh;
}
.postDesc{
    margin-top: 1.5vh;
}
.author{
    float: right;
    margin: 2vh;
}
.mainPost{
    padding: 1vh;
    margin-top: 1vh;
}
.commentRow{
    margin-left: 1vw;
}
ul {
    list-style-type: none;
}
.commentButtonPad{
    margin-left: 1vw;
    padding: 1vh;
}

#upArrow{
    font-size: 4vh;
    font-weight: bolder;
}
#downArrow{
    font-size: 4vh;
    font-weight: bolder;

}
form{
    margin: 2vh;
}

#upArrow:hover {
    cursor: pointer;
}
#downArrow:hover {
    cursor: pointer;
}

.red{
    color: red;
    font-weight: bold;
}
.gray{
    color: black;
    font-weight: bold;

}
.green{
    color: green;
    font-weight: bold;

}
