body{
    font-family: Arial;
}

.style-inline{
    dislay: inline-block;
    margin-left: 4vw;
}

ul {
    list-style-type: none;
}
#redditHeader{
    font-size: 3vh;
    font-weight: bold;
    margin: 2vw;

}

.postDiv{
    background-color: lightgray;
    padding: 2vh;
    margin: 2vw;
    height: auto;
    width: auto;
}

.navBar{
    background-color: lightgray;
    padding: 2vh;
    margin: 1vh;
}

.titleInline{
    display: inline-block;
}
.commentBarMargin{
    margin-left: 2vw;
}
#upArrow{
    font-size: 4vh;
    font-weight: bolder;
}
#downArrow{
    font-size: 4vh;
    font-weight: bolder;

}
.red{
    color: red;
    font-weight: bold;
}
.gray{
    color: black;
    font-weight: bold;

}
.green{
    color: green;
    font-weight: bold;

}
