<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" charset="UTF-8"></script>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app='app'>
    <h1>Camera Shop</h1>
    <div ng-controller='cameraController'>

        <select ng-model ='dropMenu' name="dropdown" id="">
            <option value="price">Price</option>
            <option value="rating">Rating</option>
        </select>

        <div ng-repeat = 'camera in cameraInput | orderBy: dropMenu'>



            <ul class= 'singleCamera'>

                <h2><li > <strong>{{camera.title}}</strong></li></h2>
                <li><img src="{{camera.image}}" alt="" style="width:170px;height:130px;"/></li>
                <li  >Rating: {{camera.rating}}</li>



            <div ng-if='camera.onSale'>
                <li class="yellow">
                    Price: {{camera.price | currency: "$"}} ON SALE!
                </li>
            </div>


            <div ng-if='!camera.onSale'>
                <li >
                    Price: {{camera.price | currency: "$"}}
                </li>
            </div>
            <br>
            <br>
            </ul>




        </div>
    </div>
</body>
</html>
